In [13]:
import pandas as pd 
from funcoes import *
clube = "Palmeiras"

partidas_teste = [
    {"clube": "Palmeiras", "adversario": "Bragantino", "data": "21/09/2022", "resultado": "1x1"},
    {"clube": "Palmeiras", "adversario": "Vasco", "data": "21/09/2021", "resultado": "33x8"},
    {"clube": "Palmeiras", "adversario": "Barcelona", "data": "22/10/2022", "resultado": "7x1"},
    {"clube": "Bragantino", "adversario": "Barcelona", "data": "22/10/2022", "resultado": "7x1"}
    ]

df_partidas = pd.DataFrame(partidas_teste)
df_partidas

        clube  adversario        data resultado
0   Palmeiras  Bragantino  21/09/2022       1x1
1   Palmeiras       Vasco  21/09/2021      33x8
2   Palmeiras   Barcelona  22/10/2022       7x1
3  Bragantino   Barcelona  22/10/2022       7x1

In [6]:
df_filtrado = df_partidas[df_partidas['clube'] == clube]
df_filtrado

       clube  adversario        data resultado
0  Palmeiras  Bragantino  21/09/2022       1x1
1  Palmeiras       Vasco  21/09/2021      33x8
2  Palmeiras   Barcelona  22/10/2022       7x1

In [16]:
dados_rupturas = [{}, {'instante_ruptura': '00:04:57', 'inicio_ruptura': '00:04:56', 'zona': 'Zona 2', 'desfecho': 'Forçou a saída de bola adversária', 'nome_jogador_ruptura': 'Vanderlan'}, {'instante_ruptura': '00:10:12', 'inicio_ruptura': '00:10:12', 'zona': 'Zona 1 - B', 'desfecho': 'Passe não concluído', 'nome_jogador_ruptura': 'Rony'}, {'instante_ruptura': '00:15:02', 'inicio_ruptura': '00:15:01', 'zona': 'Zona 1 - B', 'desfecho': 'Passou a bola', 'nome_jogador_ruptura': 'R. Veiga'}, {'instante_ruptura': '00:51:02', 'inicio_ruptura': '00:51:00', 'zona': 'Zona 2', 'desfecho': 'Passou a bola', 'nome_jogador_ruptura': 'Rony'}, {'instante_ruptura': '00:52:28', 'inicio_ruptura': '00:52:27', 'zona': 'Zona 2', 'desfecho': 'Passou a bola', 'nome_jogador_ruptura': 'Mayke'}, {'instante_ruptura': '00:52:57', 'inicio_ruptura': '00:52:55', 'zona': 'Zona 1 - B', 'desfecho': 'Foi desarmado', 'nome_jogador_ruptura': 'Vanderlan'}, {'instante_ruptura': '01:32:37', 'inicio_ruptura': '01:32:36', 'zona': 'Zona 1 - B', 'desfecho': 'Não recebeu a bola', 'nome_jogador_ruptura': 'Richard Rios'}]
df_rupturas = pd.DataFrame(dados_rupturas)
df_rupturas = df_rupturas.iloc[1:]
df_rupturas.head()

,instante_ruptura,inicio_ruptura,zona,desfecho,nome_jogador_ruptura
1,00:04:57,00:04:56,Zona 2,Forçou a saída de bola adversária,Vanderlan
2,00:10:12,00:10:12,Zona 1 - B,Passe não concluído,Rony
3,00:15:02,00:15:01,Zona 1 - B,Passou a bola,R. Veiga
4,00:51:02,00:51:00,Zona 2,Passou a bola,Rony
5,00:52:28,00:52:27,Zona 2,Passou a bola,Mayke

In [18]:
def converter_tempo_para_segundos(tempo_str):
    if not tempo_str:
        return None

    horas, minutos, segundos = map(int, tempo_str.split(':'))

    return horas * 3600 + minutos * 60 + segundos

In [20]:
lista_tempo_rupturas = []
numero_ruptura = 1
for ruptura_tempo_sec in df_rupturas["inicio_ruptura"]:
    inicio_video = converter_tempo_para_segundos(ruptura_tempo_sec) - 5
    final_video = converter_tempo_para_segundos(ruptura_tempo_sec) +5
    lista_tempo_rupturas.append((inicio_video,final_video))
print(lista_tempo_rupturas)

[(291, 301), (607, 617), (896, 906), (3055, 3065), (3142, 3152), (3170, 3180), (5551, 5561)]