In [8]:
import pandas as pd 
from funcoes import *
clube = "Palmeiras"

partidas_teste = [
    {"clube": "Palmeiras", "adversario": "Bragantino", "data": "21/09/2022", "resultado": "1x1"},
    {"clube": "Palmeiras", "adversario": "Vasco", "data": "21/09/2021", "resultado": "33x8"},
    {"clube": "Palmeiras", "adversario": "Barcelona", "data": "22/10/2022", "resultado": "7x1"},
    {"clube": "Bragantino", "adversario": "Barcelona", "data": "22/10/2022", "resultado": "7x1"}
    ]

df_partidas = pd.DataFrame(partidas_teste)
df_partidas

[
  {
    "adversario": "Bragantino",
    "clube": "Palmeiras",
    "data": "21/09/2022",
    "resultado": "1x1"
  },
  {
    "adversario": "Cruzeiro",
    "clube": "Atletico",
    "data": "21/09/2022",
    "resultado": "6x1"
  },
  {
    "adversario": "S\u00e3o Paulo",
    "clube": "Palmeiras",
    "data": "21/09/2023",
    "resultado": "1x8"
  }
]

        clube  adversario        data resultado
0   Palmeiras  Bragantino  21/09/2022       1x1
1   Palmeiras       Vasco  21/09/2021      33x8
2   Palmeiras   Barcelona  22/10/2022       7x1
3  Bragantino   Barcelona  22/10/2022       7x1

In [11]:
dados_partidas = partidas()
print(dados_partidas)
df_partidas = pd.DataFrame(dados_partidas)

[
  {
    "adversario": "Bragantino",
    "clube": "Palmeiras",
    "data": "21/09/2022",
    "resultado": "1x1"
  },
  {
    "adversario": "Cruzeiro",
    "clube": "Atletico",
    "data": "21/09/2022",
    "resultado": "6x1"
  },
  {
    "adversario": "S\u00e3o Paulo",
    "clube": "Palmeiras",
    "data": "21/09/2023",
    "resultado": "1x8"
  }
]

ValueError: DataFrame constructor not properly called!

In [6]:
df_filtrado = df_partidas[df_partidas['clube'] == clube]
df_filtrado

       clube  adversario        data resultado
0  Palmeiras  Bragantino  21/09/2022       1x1
1  Palmeiras       Vasco  21/09/2021      33x8
2  Palmeiras   Barcelona  22/10/2022       7x1